<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InfluxHost" value="http://localhost:8086" />
    <add key="InfluxDatabaseName" value="dms_influx_db" />
    <add key="ListenPort" value="8888" />
    <add key="MaxExecutionTime" value="3600" />
  </appSettings>
</configuration>