<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InfluxHost" value="http://localhost:8086" />
    <add key="InfluxDatabaseName" value="dms_influx_db" />
    <add key="PostgresConnectionString" value="Host=localhost;Port=5432;Database=MyDb;Username=postgres;Password=kurepin" />
    <add key="PostgresSchemaName" value="dms_v9" />
  </appSettings>
</configuration>